<br>
<div style="text-align: center;"><mat-form-field style="font-size: small;">
  <mat-label>Rechercher un secteur d'activité</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Programmation">
</mat-form-field>
</div>
<ul class="list-group">
  <li class="font-weight-bold list-group-item d-flex justify-content-between align-items-center">
    Nom du secteur
    <span class="badge badge-dark">Nombre de stages</span>
  </li>
  <li *ngFor="let indCount of industriesCountsToShow | paginate: {
    itemsPerPage: 5,
    currentPage: p,
    totalItems: industriesCountsToShow.length}" class="list-group-item d-flex justify-content-between align-items-center">
    {{ indCount.name }}
    <span class="badge badge-dark">{{ indCount.count }}</span>
  </li>
</ul>
<div class="pagination-controls" class="text-align: center;">
  <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="p = 1" directionLinks="true"
    autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page">
  </pagination-controls>
</div>

<!-- <table mat-table [dataSource]="dataSource" MatSort class="mat-elevation-z8" style="width: 100%;">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom du secteur </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>
  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Nom du secteur </th>
    <td mat-cell *matCellDef="let element"> {{ element.count }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsIndustries"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsIndustries;"></tr>
</table>
<mat-paginator *ngIf="industriesCountsToShow" [length]="industriesCountsToShow.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->