<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="navbar-brand">Stage Facile</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link" routerLink="/">Accueil</a>
        <a class="nav-item nav-link" routerLink="/internships">Stages</a>
        <a class="nav-item nav-link" routerLink="/users">Etudiants</a>
        <a class="nav-item nav-link" routerLink="/companies">Entreprises</a>
        <a class="nav-item nav-link" routerLink="/add-internship">Ajouter un stage</a>
        <a class="nav-item nav-link" routerLink="/add-company">Ajouter une entreprise</a>
      </div>
    </div>
  </nav>