<mat-card class="main-container" *ngIf="user && internships">
  <div align="right">
    <a mat-raised-button color="primary" [routerLink]="['../edit', user.id]">Editer</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <a mat-raised-button color="warn" (click)="openDialog()">Supprimer</a> -->
    <br><br>
  </div>
  <mat-card-header>
    <mat-card class="header">
      <mat-card-header>
        <mat-card-title>
          Profil
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span>&nbsp;
          <img *ngIf="user.gender === true || user.gender === null" src="../../assets/user.svg" alt="" width="18"
            height="18" />
          <img *ngIf="user.gender === false" src="../../assets/girl.svg" alt="" width="18" height="18" />
          &nbsp;{{ user.firstName }} {{ user.lastName }}
          <br><br> </span>
        <span *ngIf="user.birthDate"> &nbsp; <img src="../../assets/calendar.svg" alt="" width="18" height="18" />
          &nbsp; {{ user.birthDate | date:'dd/MM/yyyy' }}
          <br><br></span>
        <span *ngIf="user.email">&nbsp; <img src="../../assets/mail.svg" alt="" width="18" height="18" />
          &nbsp; {{ user.email }}
          <br><br> </span>
      </mat-card-content>
    </mat-card>

  </mat-card-header>
  <mat-card-content>
    <hr><br><br>
    <mat-card-title>
      &nbsp; &nbsp;Stages effectués par {{ user.firstName }} {{ user.lastName }}
      <a style="float: right;" mat-raised-button color="primary" routerLink="../add-internship">Ajouter un stage</a>
      <br><br>
    </mat-card-title>
    <mat-card class="description">
      <mat-list role="list">
        <mat-list-item *ngFor="let internship of internships  | paginate: {
              itemsPerPage: 5,
              currentPage: p,
              totalItems: internships.length}" role="listitem">
          <small class="text-muted">{{ internship.conventionReference }}</small>
          <br>&nbsp; &nbsp;
          <div><a [routerLink]="['../internship', internship.id]">{{ internship.function }}</a></div>
        </mat-list-item>
        <mat-list-item *ngIf="internships.length === 0" role="listitem">
          <div><i>Aucune fiche de stage n'est associée à cet utilisateur.</i></div>
        </mat-list-item>
      </mat-list>
      <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="p = 1" directionLinks="true"
        autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page">
      </pagination-controls>
    </mat-card>
  </mat-card-content>
</mat-card>