<table mat-table [dataSource]="moderatorsDataSource" matSort class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse électronique </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="validate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Validé </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button *ngIf="element.validated" color="warn" style="background-color: rgb(81, 187, 136)">Validé</button>
        <button mat-raised-button *ngIf="!element.validated" color="warn" (click)="validateMod(element)">Non validé</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="delete(element)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsMods"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMods;"></tr>
  </table>

  <mat-paginator *ngIf="moderators" [length]="moderators.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
