<mat-card class="main-container">
  <mat-card-header>
    <mat-card class="header">
      <mat-card-header>
        <mat-card-title>
          {{ company.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ company.headOfficeAddress }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        &nbsp; &nbsp; <img src="../../../assets/location.svg" alt="" width="18" height="18" />
        &nbsp; <span *ngIf="company.city">{{ company.city }}, </span>{{ company.country }}
        <br><br>
        &nbsp; &nbsp; <img src="../../../assets/factory.svg" alt="" width="18" height="18" />
        &nbsp; {{ company.industry.name }}
        <br><br>
      </mat-card-content>
    </mat-card>

  </mat-card-header>
  <mat-card-content>
    <hr><br><br>
    <mat-card-title>&nbsp; &nbsp;Stages chez {{ company.name }}</mat-card-title>
    <mat-card class="description">
      <mat-list role="list">
        <mat-list-item *ngFor="let internship of internships  | paginate: {
            itemsPerPage: 5,
            currentPage: p,
            totalItems: internships.length}" role="listitem">
            <small class="text-muted">{{ internship.conventionReference }}</small>
            <br>&nbsp; &nbsp;
            <div><a [routerLink]="['../../internship', internship.id]">{{ internship.function }}</a></div>
        </mat-list-item>
      </mat-list>
      <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="p = 1" directionLinks="true"
        autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page">
      </pagination-controls>
    </mat-card>
  </mat-card-content>
</mat-card>