<mat-card class="main-container">
    <mat-card-content>
      <hr><br><br>
      <mat-card-title>&nbsp; &nbsp;Stages effectués par {{ user.firstName }} {{ user.lastName }}</mat-card-title>
      <mat-card class="description">
        <mat-list role="list">
          <mat-list-item *ngFor="let internship of internships  | paginate: {
              itemsPerPage: 5,
              currentPage: p,
              totalItems: internships.length}" role="listitem">
              <small class="text-muted">{{ internship.conventionReference }}</small>
              <br>&nbsp; &nbsp;
              <div><a [routerLink]="['../../internship', internship.id]">{{ internship.function }}</a></div>
          </mat-list-item>
        </mat-list>
        <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="p = 1" directionLinks="true"
          autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page">
        </pagination-controls>
      </mat-card>
    </mat-card-content>
  </mat-card>