<mat-card class="main-container">
    <mat-card-header>
      <mat-card-title>Ajouter un stage</mat-card-title>
      <mat-card-subtitle>* Champs obligatoire</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="internshipForm">
        <hr>
        <mat-form-field>
          <mat-label>Référence de la convention</mat-label>
          <input matInput formControlName="conventionReference" required>
          <mat-error *ngIf="conventionReference.invalid && conventionReference.touched">
            La référence de convention doit être un nombre composé d'au moins 4 chiffres. (ex: 12345)
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Sujet du stage</mat-label>
          <input matInput formControlName="function" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Date de début</mat-label>
          <input required matInput formControlName="beginDate" [matDatepicker]="beginDate" (dateChange)="dateCompare()">
          <mat-datepicker-toggle matSuffix [for]="beginDate"></mat-datepicker-toggle>
          <mat-datepicker #beginDate></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Date de fin</mat-label>
          <input required matInput formControlName="endDate" [matDatepicker]="endDate" (dateChange)="dateCompare()">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <br>      
        <mat-form-field>
          <mat-label>Pays</mat-label>
          <mat-select formControlName="location" required>
            <mat-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Gratification/mois (€)</mat-label>
          <input matInput formControlName="stipend">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Niveau requis</mat-label>
          <mat-select formControlName="experienceLevel">
            <mat-option *ngFor="let value of values" [value]="value">
              {{ value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <div>
          <mat-label class="text-muted">Gestionnaire(s) de convention</mat-label>
        </div>
        <div *ngFor="let manager of managers.controls; let i = index">
          <br>
          <mat-form-field>
            <mat-label id="gestionnaires" class="text-muted">Gestionnaire {{ i + 1 }}</mat-label>
            <input matInput [formControl]="managers.controls[i]">
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="deleteManager(i)">Retirer</button>
        </div>
        <br><button mat-button color="primary" (click)="addManager()">Ajouter un gestionnaire</button>
        <br>
        <mat-form-field>
          <mat-label>Moyen par lequel le stage a été trouvé</mat-label>
          <mat-select formControlName="foundBy" required>
            <mat-option *ngFor="let way of wayOfFinding" [value]="way">
              {{ way }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Organisme d'accueil</mat-label>
          <mat-select required formControlName="company" >
            <mat-option *ngFor="let company of companies" [value]="company">
              {{ company.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Industrie, domaine, secteur d'activité...</mat-label>
          <mat-select formControlName="industry">
            <mat-option *ngFor="let industry of industries" [value]="industry">
              {{ industry.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br><br><br>
        <button mat-raised-button [disabled]="internshipForm.invalid" color="primary" (click)="onSubmit()">Ajouter un stage</button>
      </form>
    </mat-card-content>
  </mat-card>