<mat-card class="main-container">
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab style="width: 100%;" label="Etudiants">
        <mat-card>
          <mat-card-content>
            <app-admin-user-list></app-admin-user-list>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab style="width: 100%;" label="Enseignants">
        <mat-card>
          <mat-card-content>
            <app-admin-mod-list></app-admin-mod-list>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <mat-tab style="width: 100%;" label="Administrateurs">
        <mat-card>
          <mat-card-content>
            <app-admin-admin-list></app-admin-admin-list>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>