<div class="container-fluid">
  <div class="row align-baseline">
    <h2 class="col" *ngFor="let col of displayedColumnsAdmins">
      {{ col }}
    </h2>
  </div>
  <div *ngFor="let row of admins" class="row align-baseline">
    <div class="col">{{ row.firstName }}</div>
    <div class="col">{{ row.lastName }}</div>
    <div class="col">{{ row.email }}</div>
    <div class="col">{{ row.id }}</div>
    <div class="col">
      <button mat-raised-button color="warn" 
        *ngIf="!self(row)" (click)="delete(row)">Supprimer</button>
    </div>
  </div>
</div>
<!-- 
<table mat-table [dataSource]="adminsDataSource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Adresse électronique </th>
      <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" *ngIf="!self(element)"
          (click)="delete(element)">Supprimer</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsAdmins"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAdmins;"></tr>
  </table>

  <mat-paginator *ngIf="admins" [length]="admins.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator> -->