<div class="container">
    <br>
    <h1 id="header">
      Entreprises
      <span style="width: 100px;"></span>
      <a style="float: right" *ngIf="isLoggedIn" mat-raised-button color="primary" routerLink="../add-company">Ajouter une entreprise</a>
    </h1>
    
    <mat-nav-list *ngIf="companies">
      <mat-list-item style="height: 100px; border-bottom: thin #888888 solid;" *ngFor="let company of companies | paginate: {
        itemsPerPage: 5,
        currentPage: p,
        totalItems: companies.length}">
        <a matLine [routerLink]="['../company', company.id]">
          <div class="d-flex w-100 justify-content-between">
            <h3 style="font-weight: 200;" class="mb-1">{{ company.name }} - {{ company.industry.name }}</h3>
          </div>
          <p style="font-size: small;" class="mb-1">{{ company.headOfficeAddress }}</p>
          <small class="text-muted">{{ company.postalCode }} {{ company.city }}, {{ company.country }}</small>
        </a>
      </mat-list-item>
      <div class="pagination-controls">
        <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="p = 1" directionLinks="true"
          autoHide="true" responsive="true" previousLabel="" nextLabel="" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page">
        </pagination-controls>
      </div>
    </mat-nav-list>

  </div>