<mat-card class="main-container">
  <mat-card-header>
    <mat-card class="header">
      <mat-card-header>
        <mat-card-title>
          {{ internship.function }}
        </mat-card-title>
        <mat-card-subtitle>
          Référence convention : {{ internship.conventionReference }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        &nbsp; &nbsp;  <img src="../../../assets/user.svg" alt="" width="18" height="18" />
        &nbsp; Effectué par <a [routerLink]="['../../students', internship.user.id]" style="color: black; text-decoration: underline;">{{ internship.user.firstName }} {{ internship.user.lastName }}</a>
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/company.svg" alt="" width="18" height="18" />
        &nbsp; {{ internship.company.name }} (<a [routerLink]="['../../company', internship.company.id]">Voir les autres stages effectués à {{ internship.company.name }}</a>)
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/location.svg" alt="" width="18" height="18" />
        &nbsp; {{ internship.location }}
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/factory.svg" alt="" width="18" height="18" />
        &nbsp; {{ internship.industry.name }}
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/experience.svg" alt="" width="18" height="18" />
        &nbsp; {{ internship.experienceLevel }}
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/calendar.svg" alt="" width="18" height="18" />
        &nbsp; du {{ internship.beginDate | date:'dd/MM/yyyy' }} au {{ internship.endDate | date:'dd/MM/yyyy' }}
        <br><br>
        &nbsp; &nbsp;  <img src="../../../assets/money.svg" alt="" width="22" height="22" />
        &nbsp; <span *ngIf="internship.stipend && internship.stipend > 0; else nonPaid">
          <i> {{ internship.stipend }} € / mois </i>
        </span>
        <ng-template #nonPaid>
          <span>
            <i>Stage non rémunéré</i>
          </span>
        </ng-template>
      </mat-card-content>
    </mat-card>

  </mat-card-header>
  <mat-card-content>
    <hr><br><br>
    <mat-card-title>&nbsp; &nbsp;Description</mat-card-title>
    <mat-card class="description">
      {{ internship.description }}
    </mat-card>
  </mat-card-content>
</mat-card>